---
title: Orefura Archives
---
<!DOCTYPE html>
<html>
<head>
    <title>Orefura Archives</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Waking up as the most hated game character, can Harold clear the survival route while avoiding the countless death flags in his way?!">
    <meta name="author" content="HeroAca">
    <meta property="og:title" content="Orefura Archives" />
    <meta property="og:site_name" content="Orefura"/>
    <meta property="og:url" content="https://orefura.github.io"/>
    <meta property="og:description" content="Waking up as the most hated game character, can Harold clear the survival route while avoiding the countless death flags in his way?!"/>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="assets/img/cover.jpg" />
    <meta property="og:image:width" content="72" />
    <meta property="og:image:height" content="72" />

    <link rel="stylesheet" href="assets/css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <script src="assets/js/uikit.min.js"></script>
    <script src="assets/js/uikit-icons.min.js"></script>

    <style type="text/css">
        body {
            background-color: #F5F5F5;
            background-image: url('assets/img/bg_repeat.jpg');
        }

        a, .uk-link-heading {
            transition: color 0.3s ease;
        }

        .site-title {
            color: #333;
        }

        .site-title:hover {
            color: #f85f83;
            text-decoration: none;
        }

        .uk-card-default.uk-card-hover {
            transition: box-shadow 0.3s ease;
        }
    </style>
</head>
<body>
    <div class="uk-container">
        <article class="uk-article uk-margin-top uk-text-center">
            <h1 class="uk-article-title" style="font-family: 'Major Mono Display', monospace;"><a class="site-title" href="https://www.viz.com/dr-stone">oRefuRA ArcHiVes</a></h1>
            <p class="uk-article-meta">Sort by <a href="index"><span uk-icon="icon: download"></span>Ascending</a> or <a href="desc"><span uk-icon="icon: upload"></span>Descending</a>. <span uk-icon="icon: arrow-up"></span><span uk-icon="icon: arrow-down"></span> to change chapter; <span uk-icon="icon: arrow-left"></span><span uk-icon="icon: arrow-right"></span> to change page; <kbd>D</kbd> to toggle versions.</kbd></p>
            
        </article>
        
        <hr class="uk-divider-icon">

        {% assign volumes = site.data.volumes | sort %}

        {% for volume_hash in volumes %}
        {% assign volume = volume_hash[1] %}

        {% capture volume_name %}{{ volume.volume | prepend: '00' | slice: -2, 2 }}{% endcapture %}

        <div class="uk-card uk-card-hover uk-grid-collapse uk-card-default uk-card-small uk-child-width-1-2@m uk-margin" uk-grid>
            <div class="uk-card-body uk-width-1-3@m">
                <div uk-sticky="bottom: true; media: @m" style="text-align: center;" uk-lightbox><br><a href="assets/volumes/{{ volume_name }}.jpg" data-caption="Volume {{ volume.volume }} - {{ volume.name }}" data-alt="Volume {{ volume.volume }} - {{ volume.name }}"><img data-src="assets/volumes/{{ volume_name }}.jpg" width="221" height="300" alt="" uk-img></a><br><br></div>
            </div>
            <div>
                <div class="uk-card-body">
                    <dl class="uk-description-list">
            
                        {% for chapter in volume.chapters %}

                        {% assign chapter-number = chapter.chapter | split: "." %}
                        {% assign integral = chapter-number[0] %}
                        {% assign fractional = chapter-number[1] %}

                        {% if fractional %}
                        {% capture chapter_link %}{{ integral | prepend: '000' | slice: -3, 3 }}-{{ fractional }}{% endcapture %}
                        {% capture chapter_number %}{{ integral }}.{{ fractional }}{% endcapture %}
                        {% else %}
                        {% capture chapter_link %}{{ integral | prepend: '000' | slice: -3, 3 }}{% endcapture %}
                        {% capture chapter_number %}{{ integral }}{% endcapture %}
                        {% endif %}

                        {% if fractional == "0" %}
                        {% capture chapter_number %}{{ integral }}{% endcapture %}
                        {% endif %}                        
                        
                        <a class="uk-link-toggle" href="{{ chapter_link }}">
                            <dt class="uk-link-heading uk-text-uppercase uk-text-small uk-text-normal"><span class="uk-text-bolder">FLAG {{ chapter_number }}:</span> {{ chapter.name }}</dt>
                            <dd>
                                <div class="uk-text-large">{{ chapter.raw }}</div>
                                <em>{{ chapter.romaji }} </em>
                                {% if chapter.novel %}
                                <div class="uk-float-right">
                                    {% assign novel-number = chapter.novel | split: "," %}
                                    {% for novel-chapter in novel-number %}
                                    <span class="uk-label uk-label-warning">{{ novel-chapter }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </dd>
                        </a>
                        {% if forloop.last != true %}
                        <hr>
                        {% endif %}
                        {% endfor %}
                    </dl>
                </div>
            </div>
        </div>
        {% endfor %}

        <article class="uk-flex uk-margin-small-bottom">
            <ul class="uk-width-1-3 uk-iconnav">
                <li><a href="index" uk-icon="icon: download"></a></li>
                <li><a href="desc" uk-icon="icon: upload"></a></li>
                <li><a href="" uk-totop uk-scroll></a></li>
            </ul>
            <div class="uk-width-1-3" style="font-family: 'Major Mono Display', monospace; text-align: center;">In Memory of KAZ</div>
            <div class="uk-width-1-3"></div>
        </article>

    </div>
</body>
</html>